@tailwind base;
@tailwind components;
@tailwind utilities;

/* Prevent layout shift when scrollbar shows/hides */
html {
  scrollbar-gutter: stable both-edges;
}

/* Consistent base */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  @apply antialiased;
}
